


$sidebar-width: 220px ;
$sidebar-mini-width: 80px;

$calc-sidebar-width: calc(100% - 220px);
$calc-sidebar-mini-width: calc(100% - 80px);


$blue-belize: #2980b9;
$purple-wisteria: #8e44ad;
$green-nephritis:#27ae60;
$red-pomegranate: #c0392b;
$yellow-sun: #f1c40f;
$black-night: #121920;
$orange-carrot: #e67e22;


$fa-font-path : "../fonts";